.banner {
  background-image: linear-gradient(to right, #635dc0, #3027ae);
  height: 100vmin;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.banner > h1 {
  margin: 5vmax;
  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 1.4vmax "Roboto";
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 2px solid white;
  border-radius: 0;
  transition: all 0.5s;
  padding: 1vmax;
  width: 9vmax;
  font: 400 1.4vmax "Roboto";
}

.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 100%;
  clip-path: polygon(100% 68%, 0% 100%, 100% 100%);
}

.homeHeading {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 2vmax;
  /* border: 2px solid rgb(183, 183, 183); */
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 14vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCard-div-span {
  margin: 0.7vmax;
  font: 400 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
}
.productCard > span {
  margin: 0.5vmax 0.5vmax;
  color: tomato;
  font-family: "Roboto";
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: scale(1.1, 1.1);
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2vmax auto;
  width: 80vw;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .productCard {
    width: 16vmax;
  }
  .productCard > p {
    font-size: 1.7vmax;
  }
  .productCard > div {
    margin: 0.2vmax;
    flex-direction: column;
    justify-content: center;
  }
  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0;
    font: 200 1vmax "Roboto";
  }
}
