.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 10vh;

  background-color: rgb(9, 5, 31);
}
.image {
  width: 100%;
  transition: all 0.5s;
}

.sidebar a {
  text-decoration: none;
  transition: all 0.5s;
  width: 100%;
  text-align: center;
  color: white;
  padding: 2rem 0rem;
  margin: auto;
  font: 200 1.4vmax "Roboto";
}
.sidebar a > svg {
  transform: translateX(-1vmax);
}
.sidebar a:hover {
  background-color: rgb(41, 40, 40);
}

.MuiTypography-root {
  background-color: #fff !important;
}
