.orderPage {
  width: 100vw;
  max-width: 100%;
  padding: 0 7vmax;
  box-sizing: border-box;

  height: 100vh;
  display: flex;

  left: 0;
  top: 0;
  flex-direction: column;
}

.myOrderHeading {
  text-align: center;
  font: 400 1.2vmax "Roboto";
  padding: 0.5vmax;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  background-color: rgb(44, 44, 44);
}
.orderTable {
  background-color: white;
  margin: 2vmax 1vmax;
}
.orderTable > div {
  font: 300 1vmax "Roboto";
  color: rgba(0, 0, 0, 0.678);
  border: none;
}

.orderTable a {
  color: rgba(0, 0, 0, 0.527);
  transition: all 0.5s;
}
.orderTable a:hover {
  color: tomato;
}
.MuiDataGrid-columnHeader {
  background-color: rgb(241, 152, 137);
  padding: 1vmax !important;
}
.MuiDataGrid-columnHeader > div {
  color: rgb(255, 255, 255);
  font: 500 1.1vmax "Roboto" !important;
}
.MuiDataGrid-iconSeparator {
  display: none !important;
}
@media screen and (max-width: 600px) {
  .orderPage {
    padding: 4vmax 0;
    height: 100vh;
  }

  .myOrderHeading {
    font: 400 2.2vmax "Roboto";
    padding: 4vw;
  }
  .orderTable > div {
    font: 300 4vw "Roboto";
  }
  .MuiDataGrid-columnHeader {
    padding: 20px !important;
  }
  .MuiDataGrid-columnHeader > div {
    font: 500 5vw "Roboto" !important;
  }
}
